<h2>{category.title}</h2>

<f:for each="{categories}" as="categoryItem">
	<f:link.action action="category" arguments="{category: categoryItem}"
								 class="btn btn-default {f:if(condition: '{category.uid} === {categoryItem.uid}', then: 'active')}">
		{categoryItem.title}
	</f:link.action>
</f:for>

<f:for each="{subCategories}" as="subCategory">
	<h3>{subCategory.category.title}</h3>
	<f:for each="{subCategory.questions}" as="question">
		<f:render partial="Faq/Answer" arguments="{question: question, suffix: '', settings: settings}"/>
	</f:for>
</f:for>

