<f:layout name="Default" />

<f:section name="content">

		<f:debug>{_all}</f:debug>

			<f:if condition="{questions}">
				<f:then>

					<f:for each="{categories}" as="category">
						<f:link.action action="category" arguments="{category: category}">{category.title}</f:link.action>
					</f:for>

					<div class="col-12">
						<div class="accordion" id="accordionExample">
							<f:for each="{paginator.paginatedItems}" as="question">
								<f:render partial="Faq/Answer" arguments="{question: question, suffix: ''}"/>
							</f:for>
						</div>
					</div>

					<f:if condition="{paginator.numberOfPages} > 1">
						<f:if condition="{settings.faq.enablePagination}">
							<f:then>
								<div class="col-12 mt-5">
									<f:render partial="Paginator" arguments="{pagination: pagination, pages: pages, paginator: paginator}"/>
								</div>
							</f:then>
						</f:if>
					</f:if>

				</f:then>
				<f:else>
					<f:translate key="no_questions_found">
						<p>Es konnten keine FAQ gefunden werden.<br/>Bitte versuchen Sie es erneut mit ein anderen Suchbegriff.</p>
						<p><strong>Alternativ können Sie uns auch direkt eine Frage stellen.</strong></p>
					</f:translate>
				</f:else>
			</f:if>

</f:section>
