{namespace hf=HDNET\Faq\ViewHelpers}

<div class="accordion-item">
	<h2 class="accordion-header" id="heading_{question.uid}{suffix}">
		<button class="accordion-button collapsed"
						type="button"
						data-bs-toggle="collapse"
						data-bs-target="#collapse_{question.uid}{suffix}"
						aria-expanded="false"
						aria-controls="collapse_{question.uid}{suffix}">
			{question.title}
		</button>
	</h2>
	<div id="collapse_{question.uid}{suffix}"
			 class="accordion-collapse collapse"
			 aria-labelledby="heading_{question.uid}{suffix}"
			 data-bs-parent="#accordionExample">
		<div class="accordion-body">
			<span class="cat"><f:for each="{question.categories}" as="cat" iteration="i">{f:if(condition: i.isFirst, then: '', else: ', ')}{cat.title}</f:for></span>
			<f:format.html>{question.answer}</f:format.html>
		</div>
	</div>
</div>
