{namespace hf=HDNET\Faq\ViewHelpers}
<li class="clearfix"{f:if(condition: renderId, then: ' id="a_{question.uid}"', else: '')}>
	<h3 class="header clearfix">
        <div class="clearfix">
            <span class="icon"></span>
            <span class="title">{question.title}</span>
        </div>
        <span class="cat"><f:for each="{question.categories}" as="cat" iteration="i">{f:if(condition: i.isFirst, then: '', else: ', ')}{cat.title}</f:for></span>
	</h3>

	<div class="content">
        <f:format.html>{question.answer}</f:format.html>
		<ul class="rating clearfix">
			<hf:widget.vote question="{question.uid}" counters="{top: question.topCounter, flop: question.flopCounter}" />
		</ul>
	</div>
</li>